<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Big Loan Pugs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <img class="img-responsive" src="/BigPugLoans.jpg"/>
    </div>
</div>
<div class="container">
        <h2>Your Result</h2>

        <h1 th:text="${{scoringResult.scoringColor}}">YELLOW</h1>

    <table class="table">
            <tr>
                <th>Scoring Points</th>
                <th>Scoring Color</th>
                <th>Agency Points</th>
                <th>Agency Color</th>
            </tr>
            <tr>
                <td th:text="${{scoringResult.scoringPoints}}">123</td>
                <td th:text="${{scoringResult.scoringColor}}">YELLOW</td>
                <td th:text="${{scoringResult.agencyResult.points}}">232</td>
                <td th:text="${{scoringResult.agencyResult.color}}">BLACK</td>
            </tr>

        </table>



</div>
</body>
</html>